@font-face {
  font-family: 'FontAwesome';
  src: url('~font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('~font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('~font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('~font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('~font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('~font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-th-large {
  content: '\f009';
}

.fa-ok {
  content: '\f00c';
}

.fa-remove {
  content: '\f00d';
}

.fa-table {
  content: '\f0ce';
}

.fa-address-book {
  content: '\f0ce';
}

.entry {
  background: white;
}
